<p id="publish-box">
This is the {{site.data.fhir.igName}} Implementation Guide Release {{ site.data.fhir.ig.version }} Ballot version.  It is based on <a href="{{ site.data.fhir.path }}">FHIR Version {{ site.data.fhir.version }}</a>. See the <a href="{{ site.data.fhir.canonical }}/history.html">Directory of published versions <img src="external.png"/></a>
<br /><br />
<strong>Note to balloters:</strong>s
<br /><br />
For this ballot we are seeking feedback only on the sections marked as "Open for ballot" (see below)
<br /><br />
This Implementation Guide is published by the <a href="http://www.hl7.org/Special/Committees/usrealm/index.cfm">HL7 US Realm Steering Committee</a>.   See the <a href="http://www.hl7.org/participate/onlineballoting.cfm?ref=nav"> HL7 ballotting website</a> to sign up for and submit ballot comments.
</p>
