<footer class="ds-base ds-u-fill--white ds-u-margin-top--7 ds-u-padding-y--6" role="contentinfo">
  <div class="ds-l-container">
    <div class="ds-l-row">
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <div class="ds-u-float--left ds-u-margin-right--2">
          {% include HHS-logo.svg %}
        </div>
        A federal government website managed by the Centers for Medicare &amp; Medicaid Services 7500 Security Boulevard, Baltimore, MD 21124
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">Blue Button 2.0 API</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
		    <li><a href="https://bluebutton.cms.gov">Home</a></li>
          <li><a href="https://bluebutton.cms.gov/developers">Documentation</a></li>
          <li><a href="https://bluebutton.cms.gov/terms">Terms of Service</a></li>
          <li><a href="https://bluebutton.cms.gov/support">Support</a></li>
          <li><a href="https://bluebutton.cms.gov/resources">Resources</a></li>
          <li><a href="https://sandbox.bluebutton.cms.gov/docs/openapi">API Docs</a></li>
          <li><a href="https://sandbox.bluebutton.cms.gov/v1/accounts/mfa/login">Developer Sandbox</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">CMS &amp; HHS Websites</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a href="https://www.cms.gov/">CMS.gov</a></li>
          <li><a href="https://www.medicare.gov/">Medicare.gov</a></li>
          <li><a href="https://www.medicaid.gov/">Medicaid.gov</a></li>
          <li><a href="https://www.healthcare.gov/">Healthcare.gov</a></li>
          <li><a href="https://www.hhs.gov/">HHS.gov</a></li>
          <li><a href="https://developer.cms.gov/">Developer.cms.gov</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">Additional resources</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a href="https://design.cms.gov">CMS Design System</a></li>
          <li><a href="https://designsystem.digital.gov/">U.S. Web Design System</a></li>
          <li><a href="https://www.foia.gov/">Freedom of Information Act</a></li>
          <li><a href="https://oig.hhs.gov/">Inspector General</a></li>
          <li><a href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/NoFearAct.html">No Fear Act</a></li>
          <li><a href="https://www.medicare.gov/about-us/plain-writing/plain-writing.html">Plain Writing</a></li>
          <li><a href="https://www.usa.gov/">USA.gov</a></li>
          <li><a href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/Privacy-Policy.html">CMS Privacy Policy</a></li>
          <li><a href="https://www.cms.gov/vulnerability-disclosure-policy">CMS/HHS Vulnerability Disclosure Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
