<footer class="ds-base ds-u-fill--white ds-u-margin-top--7 ds-u-padding-y--6" role="contentinfo">
  <div class="ds-l-container">
    <div class="ds-l-row">
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <div class="ds-u-float--left ds-u-margin-right--2">
          {% include HHS-logo.svg %}
        </div>
        A federal government website managed by the Centers for Medicare &amp; Medicaid Services 7500 Security Boulevard, Baltimore, MD 21124
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">Blue Button 2.0 API</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a href="/">Home</a></li>
          <li><a href="/developers/">Documentation</a></li>
          <li><a href="/terms/">Terms of Service</a></li>
          <li><a href="/support/">Support</a></li>
          <li><a href="/resources/">Resources</a></li>
          <li><a href="https://sandbox.bluebutton.cms.gov/docs/openapi" target="_blank">API Reference</a></li>
          <li><a href="/guide/">Production Access Guide</a></li>
          <li><a href="https://sandbox.bluebutton.cms.gov/v1/accounts/mfa/login" target="_blank">Developer Sandbox</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">CMS &amp; HHS Websites</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a href="https://www.cms.gov/" target="_blank">CMS.gov</a></li>
          <li><a href="https://www.medicare.gov/" target="_blank">Medicare.gov</a></li>
          <li><a href="https://www.medicaid.gov/" target="_blank">Medicaid.gov</a></li>
          <li><a href="https://www.healthcare.gov/" target="_blank">Healthcare.gov</a></li>
          <li><a href="https://www.hhs.gov/" target="_blank">HHS.gov</a></li>
          <li><a href="https://developer.cms.gov/" target="_blank">Developer.cms.gov</a></li>
        </ul>
      </div>
      <div class="ds-l-col--12 ds-l-sm-col--6 ds-l-md-col--3 ds-u-margin-bottom--2">
        <h6 class="ds-h4">Additional resources</h6>
        <ul class="ds-c-list ds-c-list--bare ds-u-font-size--small">
          <li><a href="https://design.cms.gov" target="_blank">CMS Design System</a></li>
          <li><a href="https://designsystem.digital.gov/" target="_blank">U.S. Web Design System</a></li>
          <li><a href="https://www.foia.gov/" target="_blank">Freedom of Information Act</a></li>
          <li><a href="https://oig.hhs.gov/" target="_blank">Inspector General</a></li>
          <li><a href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/NoFearAct.html" target="_blank">No Fear Act</a></li>
          <li><a href="https://www.medicare.gov/about-us/plain-writing" target="_blank">Plain Writing</a></li>
          <li><a href="https://www.usa.gov/" target="_blank">USA.gov</a></li>
          <li><a href="https://www.cms.gov/About-CMS/Agency-Information/Aboutwebsite/Privacy-Policy.html" target="_blank">CMS Privacy Policy</a></li>
          <li><a target="_blank" href="#" data-privacy-policy="modal-trigger-footer" onclick="utag.gdpr.showConsentPreferences()">Privacy Settings</a></li>
          <li><a href="https://www.cms.gov/vulnerability-disclosure-policy" target="_blank">CMS/HHS Vulnerability Disclosure Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
