
<header class="ds-base ds-u-fill--gray-lightest ds-u-padding-y--2" id="site-top">
  <div class="ds-l-container ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">
    <div class="ds-u-justify-content--start ds-u-display--flex">
      <nav class="other-main-nav ds-u-font-weight--bold">
        <ul>
          <li aria-label="Blue Button 2.0 logo">
            {% include blue-button-logo.svg %}
            <a href="{{ '/blue button 2.0' | relative_url }}" > </a>
          </li>
        </ul>
    </div>
    <div class="ds-u-justify-content--end ds-u-display--flex">
      <nav class="main-nav ds-u-font-weight--bold">
        <h5 class="sr-only" id="desktop-nav">Main site navigation</h5>
        <ul aria-labelledby="desktop-nav">
          <li>
            <a href="{{ '/developers' }}" >Documentation</a>
          </li>
          <li>
            <a href="{{ 'https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api' }}" >Support</a>
          </li>
          {% if site.posts.size > 0 %}
            <li>
              <a href="{{site.posts.first.url}}{% if site.use_dot_html %}.html{% endif %}">Blog</a>
            </li>
          {% endif %}
          <li aria-label="icon for login link">
            {% include avatar-mini.svg %}
            <a href="{{ 'https://sandbox.bluebutton.cms.gov/v1/accounts/mfa/login' }}" >Login</a>
          </li>

          <li aria-label="icon for sign up link">
            {% include login-icon.svg %}
            <a href="{{ 'https://sandbox.bluebutton.cms.gov/v1/accounts/create' }}" >Sign up</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>
