
<header class="ds-base ds-u-fill--gray-lightest ds-u-padding-y--2" id="site-top">
  <div class="ds-l-container ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">
    <div class="ds-u-justify-content--start ds-u-display--inline">
      <nav class="other-main-nav ds-u-font-weight--bold">
        <h5 class="sr-only" id="desktop-nav">Main site navigation</h5>
        <ul aria-labelledby="desktop-nav">
          <li>
            {% include blue-button-logo.svg %}
            <a href="{{ "/blue button api" | relative_url }}" > </a>
          </li>
    </ul>
    </div>
    <div class="ds-u-justify-content--end ds-u-display--flex">
      <nav class="main-nav ds-u-font-weight--bold">
        <h5 class="sr-only" id="desktop-nav">Main site navigation</h5>
        <ul aria-labelledby="desktop-nav">
          <li>
            <a href="{{ "/about/" | relative_url }}" >Documentation</a>
          </li>
          <li>
            <a href="{{ "/about/" | relative_url }}" >Support</a>
          </li>

          <li>
            {% include avatar-mini.svg %}
            <a href="{{ "/about/" | relative_url }}" >Login</a>
          </li>

          <li>
            {% include login-icon.svg %}
            <a href="{{ "/about/" | relative_url }}" >Sign up</a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</header>
