<div class="ds-l-container ds-u-margin-bottom--7" style="max-width: 60%;">
    <h1 class="ds-text-heading--5xl ds-display ds-u-color--base">Medicare claims data at your fingertips.</h1>
    <div class="preview__grid">
        <div class="ds-l-row">
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image"
                    style="background-image: url('/assets/img/home/browsers-sl.svg')">
                </div>
                <div class="card-title">
                    For Developers
                </div>
                <div class="card-description">
                    <p>Explore the developer sandbox to build amazing tools and services with the Blue Button 2.0 API</p>
                    <a href="#">SIGN UP FOR THE DEVELOPER SANDBOX <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image"
                    style="background-image: url('/assets/img/home/whiteboard-sl.svg')">
                </div>
                <div class="card-title">
                    For Organizations
                </div>
                <div class="card-description">
                    <p>Discover how your company or organization could use Blue Button 2.0.</p>
                    <a href="#">SEE THE POWER OF BLUE BUTTON 2.0 <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image"
                    style="background-image: url('/assets/img/home/home-sl.svg')">
                </div>
                <div class="card-title">
                    For People with Medicare
                </div>
                <div class="card-description">
                    <p>Learn about Medicare's Blue Button & find apps you can use</p>
                    <a href="#">Get Blue Button Details on MEDICARE.GOV <i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>