<style>
.bb-c-card.default-card {
    margin-top: 100px;
}
.bb-c-card.default-card .card-image {
    margin-top: -100px;
    background-color: transparent;
    height: 255px;
    text-align: center;
    max-width: 400px;
  }
.bb-c-card.default-card .card-title {
    margin-top: -50px;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 0;
  }
.bb-c-card.default-card .card-description {
    padding-top: 1rem;
  }
</style>
<div class="ds-l-container ds-u-margin-bottom--7" style="max-width: 60%;">
    <h1 class="ds-text-heading--5xl ds-display ds-u-color--base">Medicare claims data at your fingertips.</h1>
    <div class="preview__grid">
        <div class="ds-l-row">
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image">
                    <img src="/assets/img/home/browsers-sl.svg" alt="An image of browsers">
                </div>
                <div class="card-title">
                    For Developers
                </div>
                <div class="card-description ds-text-body--md ds-u-leading--lead">
                    <p>Explore the developer sandbox to build amazing tools and services with the Blue Button 2.0 API</p>
                    <a href="#" class="ds-u-text-transform--uppercase">Sign up for the developer sandbox <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image">
                    <img src="/assets/img/home/whiteboard-sl.svg" alt="Image of whiteboards" style="margin-left: -10px">
                </div>
                <div class="card-title">
                    For Organizations
                </div>
                <div class="card-description ds-text-body--md ds-u-leading--lead">
                    <p>Discover how your company or organization could use Blue Button 2.0.</p>
                    <a href="#" class="ds-u-text-transform--uppercase">See the power of blue button 2.0 <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-image">
                    <img src="/assets/img/home/home-sl.svg" alt="Image of tables and lamps">
                </div>
                <div class="card-title">
                    For People with Medicare
                </div>
                <div class="card-description ds-text-body--md ds-u-leading--lead">
                    <p>Learn about Medicare's Blue Button & find apps you can use</p>
                    <a href="#" class="ds-u-text-transform--uppercase">Get Blue Button Details on medicare.gov <i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>