<div class="ds-l-container ds-u-margin-bottom--7" style="max-width: 60%;">
    <h1 class="ds-text-heading--5xl ds-display ds-u-color--base">Medicare claims data at your fingertips.</h1>
    <div class="preview__grid">
        <div class="ds-l-row">
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-title">
                    For Developers
                </div>
                <div class="card-image"
                    style="background-image: url('/assets/img/home/terms-announcement-graphic.svg')">
                </div>
                <div class="card-description">
                    <p>Explore the power of Blue Button 2.0 API to build amazing tools and services.</p>
                    <a href="#">SIGN UP FOR THE DEVELOPER SANDBOX <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-title">
                    For Developers
                </div>
                <div class="card-image"
                    style="background-image: url('/assets/img/home/terms-announcement-graphic.svg')">
                </div>
                <div class="card-description">
                    <p>Explore the power of Blue Button 2.0 API to build amazing tools and services.</p>
                    <a href="#">SIGN UP FOR THE DEVELOPER SANDBOX <i data-feather="arrow-right"></i></a>
                </div>
            </div>
            <div class="bb-c-card default-card ds-l-col">
                <div class="card-title">
                    For Developers
                </div>
                <div class="card-image"
                    style="background-image: url('/assets/img/home/terms-announcement-graphic.svg')">
                </div>
                <div class="card-description">
                    <p>Explore the power of Blue Button 2.0 API to build amazing tools and services.</p>
                    <a href="#">SIGN UP FOR THE DEVELOPER SANDBOX <i data-feather="arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>