<!-- Banner (Custom Component) -->
<div class="ds-c-banner ds-u-fill--gray-dark ds-u-margin-bottom--4">
  <!-- Solid Container -->
  <div class="ds-u-padding--7">

    <!-- Badge -->
 
    <!-- Page Title -->
    <h2 class="ds-u-color--white ds-u-font-size--4xl ds-u-font-weight--bold">Value for Organizations</h2>
    <h3 class="ds-u-color--white ds-u-font-size--xl">What does Blue Button 2.0 allow you to do?</h3>

    <!-- Page Description -->
    <p class="page-description">
      Whether you are a health plan market place, a non-profit research organization, or a healthcare startup - integration
      with Blue Button 2.0 provides value to organizations that deliver services to Medicare beneficiaries.
      
      Medicare beneficiaries can allow access to their data, which can improve data accuracy and efficiency over manual data
      entry. Faster, more accurate data can lead to better service recommendations and health outcomes for beneficiaries. View
      a full list of connected applications to get started, or go ahead and create your Sandbox account to explore our sample
      data.
    </p>

    <!-- Call To Action Buttons -->
    <button class="ds-c-button ds-c-button--primary">
      Join the Blue Button Sandbox
    </button>

  </div>
  
</div>
