<div class="ds-c-banner ds-u-fill--white">
  <div class="ds-l-container ds-u-padding--7" style="max-width: 60%;">

    <img src="/assets/img/home/lamps_and_plants.svg" class="ds-u-lg-float--right ds-u-margin-right--2" width="360" alt="A picture of lamps and plants">

        <h2 class="ds-u-color--base ds-text-heading--3xl ds-u-margin-bottom--2">Value for people with Medicare</h2>
        <h3 class="ds-u-color--base ds-u-font-weight--normal ds-text-heading--2xl ds-u-margin-bottom--6">What does Blue Button 2.0 allow you to do?</h3>

    <div class="page-description ds-text-body--lg ds-u-leading--lead ds-u-color--base ds-u-padding-bottom--4">
      <p>Blue Button 2.0 allows you to share your data with third-party applications, doctors, research programs, and more! It also gives beneficiaries and their caregivers more options and control over their claims data.</p>
      
      <p>Our team is working on new features that allow people with Medicare to have more control over the types of data third-party applications can see and use.</p>

      <p>Follow the link below to learn about the third-party applications using Blue Button.</p>
    </div>


      <a href="https://www.medicare.gov/manage-your-health/medicares-blue-button-blue-button-20/blue-button-apps" class="ds-c-button ds-c-button--solid" target="_blank">
        View Blue Button Apps
      </a>

  </div>
  
</div>
