<style>
  .ds-text-heading--3xl {
    font-size: 36px;
    font-weight: 600;
  }

  .ds-text-heading--2xl {
    font-size: 24px;
    font-weight: 400;
  }
</style>
<div class="ds-c-banner ds-u-fill--gray-dark ds-u-margin-top--7 ds-u-padding-y--7">
  <div class="ds-l-container" style="max-width: 60%;">

    <img src="/assets/img/home/whiteboard.svg" class="ds-u-lg-float--right ds-u-margin-right--2" width="400"
      alt="A picture of a whiteboard">

    <h2 id="Value_for_orgs" class="ds-u-color--white ds-u-margin-top--0 ds-text-heading--3xl ds-u-margin-bottom--2">Value for Organizations</h2>
    <h3 class="ds-u-color--white ds-u-margin-top--0 ds-text-heading--2xl ds-u-margin-bottom--6">What does Blue Button 2.0 allow you to do?</h3>

    <div class="page-description ds-text-body--lg ds-u-leading--lead ds-u-padding-bottom--4">
      <p>
        Whether you are a health plan market place, a non-profit research organization, or a healthcare startup - integration
        with Blue Button 2.0 provides value to organizations that deliver services to Medicare beneficiaries.
      </p>
      
      <p>
        Medicare beneficiaries can allow access to their data, which can improve data accuracy and efficiency over manual data entry. Faster, more accurate data can lead to better service recommendations and health outcomes for beneficiaries.
      </p>
      
      <p>
        View a full list of connected applications to get started, or go ahead and create your Sandbox account to explore our sample data.
      </p>
    </div>

    <a href="https://sandbox.bluebutton.cms.gov/v1/accounts/create" class="ds-c-button ds-c-button--primary">
      Join the Blue Button Sandbox
    </a>
    <a href="https://bluebutton.cms.gov/developers/#sample-beneficiaries" class="ds-u-color--white ds-u-padding-left--3">View the use cases</a>

  </div>
  
</div>
