<div class="ds-c-banner ds-u-fill--white">
  <div class="ds-l-container ds-u-padding--7" style="max-width: 60%;">

    <img src="/assets/img/home/lamps_and_plants.svg" class="ds-u-float--right ds-u-margin-right--2" width="360" alt="A picture of lamps and plants">

    <h2 class="ds-u-font-size--4xl ds-u-font-weight--bold">Value for Medicare Beneficiaries</h2>
    <h3 class="ds-u-font-size--xl">What does Blue Button 2.0 allow you to do?</h3>

    <p class="">
      Blue Button 2.0 allows you to share your data with third-party applications, doctors, research programs, and more! It
      also gives beneficiaries and their caregivers more options and control over your claims data.
      
      Our team is working on new features that allow Medicare beneficiaries to have more control over the types of data
      third-party applications can see and use.
    </p>

      <button class="ds-c-button ds-c-button--primary">
        What's the Medicare Blue Button
      </button>

  </div>
  
</div>
