.ds-h2 {
  font-size: 24px;
}
.ds-text-heading--2xl {
  font-size: 24px;
}
.bb-c-card.default-card {
  margin-top: 150px;
  width: 100%;
  .card-image {
    margin-top: -100px;
    background-color: transparent;
    height: 255px;
    text-align: center;
    max-width: 400px;
    img {
      max-width: 330px;
    }
  }
  .card-title {
    margin-top: -50px;
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 0;
  }
  .card-description {
    padding-top: 1rem;
    p {
      min-height: 8em;
    }
    a {
      svg {
        margin-bottom: -5px;
      }
    }
  }
}
