// Styles for the main navigation
// ------------------------------

// Variables
// ---------

$desktop-nav-bg: #f7f7f7;

// Header
// ------

header {
  background: $desktop-nav-bg;
}

// Desktop Navigation
// ------------------

.ds-c-desktop-nav {
  background: $desktop-nav-bg;
  height: 500px;
}
