---
import Link from "components/link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import TwoColumn from "components/two-column.astro";
import Pharmacist from "#assets/images/pharmacist.svg?url";
import LogoAB2D from "#assets/images/logo-ab2d-sm.svg";
import LogoBCDA from "#assets/images/logo-bcda.svg";
import LogoDPC from "#assets/images/logo-dpc.svg";
---

<BaseLayout
	title="About Blue Button"
	description=""
	showSideNav={false}
	showInPageNav={false}
>
	<TwoColumn image={Pharmacist} imageLast={true}>
		<h1 class="margin-top-6">About Blue Button</h1>
		<p>
			Blue Button 2.0 (BB2.0) API enables software developers to build trusted applications, services, and research programs that benefit Medicare enrollees. As a <a href="#technical-specifications-and-standards">standards-based API</a>, BB2.0 provides claims data for more than 64 million people with Medicare.
		</p>
	</TwoColumn>

	<table class="usa-table usa-table--borderless usa-table--stacked">
		<caption class="usa-sr-only"
			>Definitions of Part A, Part B, and Part D claims data</caption
		>
		<thead>
			<tr>
				<th scope="col">Data type</th>
				<th scope="col">Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Medicare Part A claims data</th>
				<td>
					Inpatient hospital stays, care in skilled nursing facilities, and
					hospice care
				</td>
			</tr>
			<tr>
				<th scope="row">Medicare Part B claims data</th>
				<td>
					Various doctors' services, outpatient care, medical supplies, and
					preventive services
				</td>
			</tr>
			<tr>
				<th scope="row">Medicare Part D claims data</th>
				<td> Prescription drugs prescribed by healthcare providers </td>
			</tr>
		</tbody>
	</table>

	<h2 class="padding-top-8">What are the other CMS claims-based FHIR APIs?</h2>

	<ul class="usa-card-group flex-justify-center padding-y-4">
		<li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
			<div class="usa-card__container">
				<div class="usa-card__header">
					<h4 class="usa-card__heading">Claims Data to Part D Sponsors</h4>
				</div>
				<div class="usa-card__media usa-card__media--inset">
					<div class="usa-card__img text-center">
						<LogoAB2D aria-label="AB2D logo" class="maxw-15 margin-x-auto" />
					</div>
				</div>
				<div class="usa-card__body">
					<p>
						The AB2D API provides stand-alone Prescription Drug Plan sponsors
						with claims data to enhance the use of medications and improve the
						long term health of enrollees.
					</p>
				</div>
				<div class="usa-card__footer">
					<Link href="https://ab2d.cms.gov/" isExternal class="usa-button"
						>Visit AB2D</Link
					>
				</div>
			</div>
		</li>
		<li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
			<div class="usa-card__container">
				<div class="usa-card__header">
					<h4 class="usa-card__heading">Blue Button 2.0</h4>
				</div>
				<div class="usa-card__media usa-card__media--inset">
					<div class="usa-card__img text-center">
						<LogoBCDA aria-label="BCDA logo" class="maxw-15 margin-x-auto" />
					</div>
				</div>
				<div class="usa-card__body">
					<p>
						The Beneficiary Claims Data API (BCDA) helps Alternative Payment
						Model participants provide high-quality, coordinated care by making
						it easier to access bulk Medicare Parts A, B, and D claims data.
					</p>
				</div>
				<div class="usa-card__footer">
					<Link href="https://bcda.cms.gov/" isExternal class="usa-button"
						>Visit BCDA</Link
					>
				</div>
			</div>
		</li>
		<li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
			<div class="usa-card__container">
				<div class="usa-card__header">
					<h4 class="usa-card__heading">Data at the Point of Care</h4>
				</div>
				<div class="usa-card__media usa-card__media--inset">
					<div class="usa-card__img text-center">
						<LogoDPC aria-label="DPC logo" class="maxw-15 margin-x-auto" />
					</div>
				</div>
				<div class="usa-card__body">
					<p>
						The Data at the Point of Care (DPC) API enables healthcare providers
						with claims data to fill in gaps in patient history at the point of
						care and deliver high-quality care to Medicare enrollees.
					</p>
				</div>
				<div class="usa-card__footer">
					<Link href="https://dpc.cms.gov/" isExternal class="usa-button"
						>Visit DPC</Link
					>
				</div>
			</div>
		</li>
	</ul>
</BaseLayout>
