---
import { getEntry, render } from 'astro:content'
import CopySnippet from 'components/copy-snippet.astro'
import Link from 'components/link.astro'
import ProcessListItem from 'components/process-list-item.astro'
import ProcessList from 'components/process-list.astro'

import DocsLayout from '../layouts/DocsLayout.astro'
import '#assets/sass/styles.scss'
import BaseLayout from 'layouts/BaseLayout.astro'

const entry = await getEntry('pages', 'api-documentation')
if (!entry) {
  throw new Error('Page not found')
}

const { Content, headings } = await render(entry)
---

<BaseLayout title="API Documentation" description="">
  <DocsLayout headings={headings}>
    <h1>{entry.data.title}</h1>
    <Content
      components={{
        a: Link,
        Link,
        ProcessList,
        ProcessListItem,
        CopySnippet,
      }}
    />
  </DocsLayout>
</BaseLayout>
