---
import { getEntry, render } from 'astro:content'
import Link from '#components/link.astro'

import DocsLayout from '#layouts/docs-layout.astro'

import BaseLayout from '#layouts/base-layout.astro'

const entry = await getEntry('pages', 'bb2-data')
if (!entry) {
  throw new Error('Page not found')
}

const { Content, headings } = await render(entry)
---

<BaseLayout title="BB2 Data" description="">
  <DocsLayout headings={headings}>
    <div class="margin-bottom-4">
      <h1>{entry.data.title}</h1>
    </div>
    <div class="usa-prose">
      <Content
        components={{
          a: Link,
        }}
      />
    </div>
  </DocsLayout>
</BaseLayout>
