---
import Accordion from '#components/accordion.astro'
import { getEntry, render } from 'astro:content'
import Link from 'components/link.astro'
import ProcessListItem from 'components/process-list-item.astro'
import ProcessList from 'components/process-list.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
import '#assets/sass/styles.scss'
import DocsLayout from 'layouts/DocsLayout.astro'

const entry = await getEntry('pages', 'production-access')
if (!entry) {
  throw new Error('Page not found')
}

const { Content, headings } = await render(entry)
---

<BaseLayout title="Production Access" description="">
  <DocsLayout headings={headings} showSideNav={false}>
    <h1>{entry.data.title}</h1>
    <div class="usa-prose">
      <Content
        components={{
          a: Link,
          Link,
          ProcessList,
          ProcessListItem,
          Accordion,
        }}
      />
    </div>
  </DocsLayout>
</BaseLayout>
