---
import { getEntry, render } from 'astro:content'
import CopySnippet from 'components/copy-snippet.astro'
import Link from 'components/link.astro'
import ProcessListItem from 'components/process-list-item.astro'
import ProcessList from 'components/process-list.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
import '#assets/sass/styles.scss'

const entry = await getEntry('pages', 'resources')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="API Documentation" description="">
  <main id="main-content">
    <h1 class="margin-top-6">{entry.data.title}</h1>

    <Content
      components={{
        a: Link,
        ProcessList,
        ProcessListItem,
        CopySnippet,
      }}
    />
  </main>
</BaseLayout>
