---
import { getEntry, render } from 'astro:content'

import BaseLayout from '#layouts/base-layout.astro'
import DocsLayout from '#layouts/docs-layout.astro'

const entry = await getEntry('pages', 'sitemap')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="Sitemap" description="">
  <DocsLayout showSideNav={false}>
    <div class="margin-bottom-4">
      <h1>Sitemap</h1>
    </div>
    <div class="usa-prose">
      <Content />
    </div>
  </DocsLayout>
</BaseLayout>
