---
import { getEntry, render } from 'astro:content'

import BaseLayout from '../layouts/BaseLayout.astro'
import DocsLayout from 'layouts/DocsLayout.astro'

const entry = await getEntry('pages', 'sitemap')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="Sitemap" description="">
  <DocsLayout showSideNav={false}>
    <h1>Sitemap</h1>
    <Content />
  </DocsLayout>
</BaseLayout>
