---
import Button from '#components/button.astro'
import { getEntry, render } from 'astro:content'
import Link from 'components/link.astro'
import TwoColumn from 'components/two-column.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
import '#assets/sass/styles.scss'
import DocsLayout from '#layouts/DocsLayout.astro'

const entry = await getEntry('pages', 'support')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="Support" description="">
  <DocsLayout showSideNav={false}>
    <h1>{entry.data.title}</h1>
    <Content
      components={{
        a: Link,
        TwoColumn,
        Button,
      }}
    />
  </DocsLayout>
</BaseLayout>
