---
import BaseLayout from "../layouts/BaseLayout.astro";
import "#assets/sass/styles.scss";
import { getEntry } from "astro:content";
import { render } from "astro:content";
import Link from "components/link.astro";
import Button from "#components/button.astro";
import TwoColumn from "components/two-column.astro";

const entry = await getEntry("pages", "support");
if (!entry) {
	throw new Error("Page not found");
}

const { Content } = await render(entry);
---

<BaseLayout title="Support" description="" showSideNav={false} showInPageNav={false}>
	<main id="main-content">
		<h1 class="margin-top-6">{entry.data.title}</h1>

		<Content
			components={{
				a: Link,
				TwoColumn,
				Button,
			}}
		/>
	</main>
</BaseLayout>
