---
import Alert from '#components/alert.astro'
import Link from '#components/link.astro'
import { render } from 'astro:content'
import BaseLayout from '#layouts/base-layout.astro'
import DocsLayout from '#layouts/docs-layout.astro'
import { getEntry } from 'astro:content'

const entry = await getEntry('pages', 'terms')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title={entry.data.title} description="">
  <DocsLayout>
    <div class="margin-bottom-4">
      <h1>API Terms of Service</h1>
      <p class="usa-intro margin-top-2">Current Version (v3), published 11/01/2022</p>
    </div>

    <div class="usa-prose">
      <Content
        components={{
          a: Link,
          Link,
          Alert,
        }}
      />
    </div>
  </DocsLayout>
</BaseLayout>
