---
import IconList from '#components/icon-list.astro'
import Icon from '#components/icon.astro'
import { getEntry, render } from 'astro:content'
import Link from '#components/link.astro'

import BaseLayout from '#layouts/base-layout.astro'

import DocsLayout from '#layouts/docs-layout.astro'

const entry = await getEntry('pages', 'use-cases')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="Use Cases" description="">
  <DocsLayout showSideNav={false}>
    <div class="margin-bottom-4">
      <h1>{entry.data.title}</h1>
    </div>
    <div class="usa-prose">
      <Content
        components={{
          a: Link,
          Icon,
          IconList,
        }}
      />
    </div>
  </DocsLayout>
</BaseLayout>
