---
import IconList from '#components/icon-list.astro'
import Icon from '#components/icon.astro'
import { getEntry, render } from 'astro:content'
import Link from 'components/link.astro'

import BaseLayout from '../layouts/BaseLayout.astro'
import '#assets/sass/styles.scss'
import DocsLayout from 'layouts/DocsLayout.astro'

const entry = await getEntry('pages', 'use-cases')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="Use Cases" description="">
  <DocsLayout showSideNav={false}>
    <h1>{entry.data.title}</h1>
    <Content
      components={{
        a: Link,
        Icon,
        IconList,
      }}
    />
  </DocsLayout>
</BaseLayout>
