---
import { getEntry, render } from 'astro:content'
import Link from '#components/link.astro'
import ProcessListItem from '#components/process-list-item.astro'
import ProcessList from '#components/process-list.astro'

import BaseLayout from '#layouts/base-layout.astro'
import '#assets/sass/styles.scss'
import DocsLayout from '#layouts/docs-layout.astro'

const entry = await getEntry('pages', 'resources')
if (!entry) {
  throw new Error('Page not found')
}

const { Content } = await render(entry)
---

<BaseLayout title="API Documentation" description="">
  <DocsLayout showSideNav={false}>
    <h1>{entry.data.title}</h1>
    <Content
      components={{
        a: Link,
        Link,
        ProcessList,
        ProcessListItem,
      }}
    />
  </DocsLayout>
</BaseLayout>
