---
layout: default
title: Categories
# permalink: "/blog/categories/"
badge: blog
ctas:
  -
    title: Home
    link: /
  -
    title: Sign up for the Developer Sandbox
    link: https://sandbox.bluebutton.cms.gov/v1/accounts/create
  -
    title: Blog Categories
    link: /categories/
---

<div class="ds-base">
    <header class="main-header ds-u-margin-bottom--2 ds-u-lg-margin-bottom--5">
        <div class="solid-container ds-u-padding-y--2 ds-u-lg-padding-y--5">
            <div class="ds-l-container">
                <div class="ds-l-row">
                    <div class="ds-u-color--white ds-l-sm-cold--12 ds-l-xl-col--10 ds-u-margin-left--auto ds-u-padding-x--4">

                        <h1 class="ds-display">{{ page.badge | capitalize | escape }}:{{ page.title | escape }}</h1>
                        <p class="ds-text--lead">
                            {{ page.description | escape }}
                        </p>

                        <div class="ctas">
                            {% for item in page.ctas limit:3 %}
                            <a class="ds-c-button button--white" href="{{ item.link }}" aria-label="{{ item.title }}" target="_self">{{ item.title }} &rarr;</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="gradient-container ds-u-padding-y--2 ds-u-lg-padding-y--5 ds-u-display--none ds-u-md-display--block">
        </div>

    </header>
</div>
<section class="ds-l-container ds-base">
    <div class="ds-l-row">
        {% for category in site.categories %}
        <div class="ds-l-col--12 ds-l-sm-col--7 {{ page.badge | slugify }}" id="main" role="main">
            {% capture category_name %}{{ category | first }}{% endcapture %}

            <h2 class="category-head">
                <a href="/blog/category/{{ category_name }}/" name="{{ category_name }}">{{ category_name|capitalize }}</a>
            </h2>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
                <h4><a href="{{ site.baseurl }}{{ post.url }}/">{{post.title}}</a></h4>
            </article>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="ds-l-col--9 ds-l-sm-col--8 {{ page.badge | slugify }}" id="main" role="main">

            <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>&nbsp;
            <a class="ds-c-button" href="{{ site.url}}/feed.xml" aria-label="RSS Feed" target="_self" >RSS Feed</a>
            <a class="ds-c-button" href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api" aria-label="Comments via Google Group" target="_self" >Comments via Google Group</a>
        </div>


    </div>
</section>
<!-- CBBP-1058 Fix 2 - export blog folder -->


