---
layout: default
title: Categories
# permalink: "/blog/categories/"
badge: blog
ctas:
  -
    title: Home
    link: /
  -
    title: Sign up for the Developer Sandbox
    link: https://sandbox.bluebutton.cms.gov/v1/accounts/create
  -
    title: Blog Categories
    link: /categories/
---
<!-- blog/categories.html:start -->
{% include banner.html %}

<section class="ds-l-container ds-base">
    <div class="ds-l-row">
        {% for category in site.categories %}
        <div class="ds-l-col--12 ds-l-sm-col--7 {{ page.badge | slugify }}" id="main" role="main">
            {% capture category_name %}{{ category | first }}{% endcapture %}

            <h2 class="category-head">
                <a href="/blog/category/{{ category_name }}{% if site.use_dot_html %}.html{% endif %}" name="{{ category_name }}">{{ category_name|capitalize }}</a>
            </h2>
            {% for post in site.categories[category_name] %}
            <article class="archive-item">
                <h4><a href="{{ site.baseurl }}{{ post.url }}{% if site.use_dot_html %}.html{% endif %}">{{post.title}}</a></h4>
            </article>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="ds-l-col--9 ds-l-sm-col--8 {{ page.badge | slugify }}" id="main" role="main">

            <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>&nbsp;
            <a class="ds-c-button" href="{{ site.url}}/feed.xml" aria-label="RSS Feed" target="_self" >RSS Feed</a>
            <a class="ds-c-button" href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api" aria-label="Comments via Google Group" target="_self" >Comments via Google Group</a>
        </div>


    </div>
</section>
<!-- blog/categories.html:end -->
