---
layout: default-full
title: Blue Button 2.0 API Blog
description: Get the latest news, updates, and more from the Blue Button 2.0 API.
badge: blog
---

<div class="ds-l-container" style="max-width: 60%;">
<div class="ds-l-row">
  <div class="ds-l-col--12">

  {% for post in site.posts %}
    {% if site.posts.first.url == post.url %}

    <!-- Featured Blog Card -->
    <a class="ds-c-blog-card featured" href="{{ post.url }}{% if site.use_dot_html %}.html{% endif %}" aria-label="{{ post.title }}">
      <!-- Blog Card Image -->
      <div class="blog-card-image" href="{{ post.url }}{% if site.use_dot_html %}.html{% endif %}" aria-label="Read {{ post.title }}">
        <img src="{{ post.hero-thumb }}" alt="" role="presentation" />
      </div>
      <!-- Mobile Featured Blog Card Image -->
      <div class="blog-card-image blog-card-image--featured-mobile" href="{{ post.url }}{% if site.use_dot_html %}.html{% endif %}" style="background: url('{{ post.hero-thumb }}')" aria-label="Read {{ post.title }}"></div>
      <!-- Blog Card Content Container -->
      <div class="blog-card-content">
        <!-- Blog Card Date -->
        <div class="blog-card-content-date">
          {{ post.date | date: "%m/%d/%Y" }}
        </div>
        <!-- Blog Card Title -->
        <div class="blog-card-content-title">
          {{ post.title }}
        </div>
        <!-- Blog Card Description -->
        <div class="blog-card-content-description">
          {{ post.content | strip_html | truncatewords: 25 }}
        </div>
      </div>
    </a>

    {% endif %}  
  {% endfor %}

  <!-- Blog Post Grid -->
  <div class="ds-c-blog-post-grid">
  {% for post in site.posts %}
    {% if site.posts.first.url != post.url %}

    <!-- Blog Card -->
    <a class="ds-c-blog-card" href="{{ post.url }}{% if site.use_dot_html %}.html{% endif %}" aria-label="{{ post.title }}">
      <div class="blog-card-content">
        <!-- Blog Card Date -->
      <div class="blog-card-content-date">
          {{ post.date | date: "%m/%d/%Y" }}
        </div>
        <!-- Blog Card Title -->
        <div class="blog-card-content-title" href="#">
          {{ post.title | truncatewords: 8 }}
        </div>
      </div>
      <!-- Blog Card Image -->
      <div class="blog-card-image" style="background: url('{{ post.hero-thumb }}')"></div>
      <div class="blog-card-content">
        <!-- Blog Card Description -->
        <div class="blog-card-content-description">
            {{ post.content | strip_html | truncatewords: 25 }}
          </div>
      </div>
    </a>
    
    {% endif %}  
  {% endfor %}
  </div>
  </div>
</div>
</div>