---
layout: newest_blog
title: Latest
badge: blog
ctas:
  -
    title: Home
    link: /
  -
    title: Sign up for the Developer Sandbox
    link: https://sandbox.bluebutton.cms.gov/v1/accounts/create
  -
    title: Comments via Google Group
    link: https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api
---
<div class="ds-l-col--12 ds-l-sm-col--8" id="main" role="main">
      {% for post in site.posts %}
        {% if site.posts.first.url == post.url %}

          <h3 class="ds-u-display--inline-block ds-u-display--block blueberry-lime-link"><a href="{{ post.url }}" class="ds-u-display--block blueberry-lime-link" >{{ post.title | capitalize | escape }}</a></h3>
          <p>{{ post.content }}</p>
          <h3 class="ds-u-display--block">Earlier posts...</h3>

        {% else %}
            <div class="ds-u-border--inverse">
                <p></p>
            </div>
            <div class="ds-u-fill--primary-alt ds-u-padding--2">
                <h4 class="ds-u-margin--0 ds-u-color--white ds-u-text-align--left"><a href="{{ post.url }}" class="ds-u-color--white ds-u-text-align--left blueberry-lime-link" >{{ post.title | capitalize | escape }}</a></h4>
            </div>
            <span class="ds-u-display--block ds-u-display--inline-block">{{ post.excerpt }}<a href="{{ post.url }}">[more...]</a></span>

        {% endif %}
      {% endfor %}

</div>

