---
import { type VariantProps } from 'cva'
import { button } from '../utils/cva/button'

import type { HTMLAttributes } from 'astro/types'

export interface Props extends HTMLAttributes<'button'>, VariantProps<typeof button> {}

const { variant = 'primary', size = 'medium', ...props } = Astro.props
---

<button class={button({ variant, size })} {...props}>
  <slot />
</button>
