---
type Props = {
  heading: string
  img: string
  outline?: boolean
  sandbox?: boolean
  imgSize?: 15 | 16
}

const { heading, img, imgSize = 16 } = Astro.props
---

<li class="usa-card tablet:grid-col-6 desktop:grid-col-4">
  <div class="usa-card__container">
    <div class="usa-card__header">
      <h3 class="usa-card__heading">{heading}</h3>
    </div>
    <div class="usa-card__media usa-card__media--inset">
      <div class="usa-card__img text-center">
        <img src={img} class={`maxw-${imgSize} margin-x-auto`} />
      </div>
    </div>
    <div class="usa-card__body">
      <slot />
    </div>
    <div class="usa-card__footer padding-y-0">
      <slot name="buttonSlot" />
    </div>
  </div>
</li>
