---
import Icon from "./icon.astro";

type Props = {
  intro?: string;
};

const { intro } = Astro.props;
---

<div class="grid-row grid-gap margin-y-4">
  <div class="grid-col-auto">
    <Icon icon="arrow_forward" size={5} />
  </div>
  <div class="grid-col-fill">
    {intro ? <p class="usa-intro measure-4">{intro}</p> : null}
    <slot />
  </div>
</div>
