---
import Icon from "./icon.astro";

type Props = {
  heading: string;
  intro: string;
};

const { heading, intro } = Astro.props;
---

<div class="grid-row grid-gap margin-y-4">
  <div class="grid-col-auto">
    <Icon icon="arrow_forward" color="" size={5} />
  </div>
  <div class="grid-col-fill">
    <h2>{heading}</h2>
    <p class="usa-intro measure-4">{intro}</p>
    <slot />
  </div>
</div>