---
type Props = {
  heading: string
  className: string
}

const { heading, className } = Astro.props
---

<li class:list={['usa-process-list__item', className]}>
  <p class="usa-process-list__heading">{heading}</p>
  <div class="usa-prose">
    <slot />
  </div>
</li>
