---
type Props = {
  heading: string
  className: string
}

const { heading, className } = Astro.props
---

<li class={`usa-process-list__item ${className}`}>
  <p class="usa-process-list__heading">{heading}</p>
  <slot />
</li>
