<!-- ---
type Props = {
    tocItem: string;
    tocLink: string;
    tocCurrent?: boolean;
}

const { tocItem, tocLink, tocCurrent } = Astro.props;
---

<li class="usa-in-page-nav__item usa-in-page-nav__item--primary">
    <a href={tocLink} 
        class={`usa-in-page-nav__link${tocCurrent ? " usa-current" : ""}`}
    >{tocItem}</a>
</li> -->