---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: MarkdownHeading[];
}

const { headings = [] } = Astro.props;
---

<div
  class="display-none position-sticky tablet:display-block tablet:grid-col-auto overflow-y-auto overflow-x-hidden padding-top-5 desktop:padding-top-5 padding-bottom-6 tablet:padding-right-3 padding-left-05 margin-left-neg-05"
  style="top: 4rem; height: calc(100vh - 4.5rem); width: 14rem;"
>
  <aside id="toc" class="grid-col-auto maxw-order-last margin-left-auto">
    <h4>On this page</h4>
    <ul class="usa-in-page-nav__list">
      {
        headings.map((heading) => (
          <li class="usa-in-page-nav__item usa-in-page-nav__item--primary">
            <a href={`#${heading.slug}`} class="usa-in-page-nav__link">
              {heading.text}
            </a>
          </li>
        ))
      }
    </ul>
  </aside>
</div>

<script>
  let didScroll = false;
  const interectingIds: string[] = [];
  const tocLinks = Array.from(
    document.querySelectorAll<HTMLAnchorElement>("#toc a"),
  );

  window.addEventListener(
    "scroll",
    () => {
      didScroll = true;
    },
    { once: true },
  );

  const headingsObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          interectingIds.push(entry.target.id);
        } else {
          const idx = interectingIds.findIndex((id) => id === entry.target.id);
          if (idx > -1) {
            interectingIds.splice(idx, 1);
          }
        }
      });

      tocLinks.forEach((el) => el.classList.remove("usa-current"));
      const temp = didScroll
        ? [...interectingIds]
        : [...interectingIds].reverse();
      const activeId = temp.pop();
      const active = tocLinks.find(
        (el) => el.getAttribute("href") === `#${activeId}`,
      );
      if (active) active.classList.add("usa-current");
    },
    {
      rootMargin: "-100px 0px",
      threshold: 1,
    },
  );

  document
    .querySelectorAll("main :is(h2,h3,h4,h5,h6)")
    .forEach((h) => headingsObserver.observe(h));

  tocLinks.forEach((el) => {
    el.addEventListener("click", () => {
      // Restore native click behavior, since USWDS overrides this by default on this component
      const evt = new MouseEvent("click", {
        bubbles: false,
        cancelable: true,
        view: window,
      });
      el.dispatchEvent(evt);
    });
  });
</script>
