---
type Props = {
  heading: string
  className?: string
  headingAs?: 'div' | 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6'
}

const { className } = Astro.props
---

<li class:list={['usa-process-list__item', className]}>
  <div class="usa-prose">
    <slot />
  </div>
</li>
