---
layout: default
---
<div class="ds-base">
  <header class="main-header ds-u-margin-bottom--2 ds-u-lg-margin-bottom--5">
    <div class="solid-container ds-u-padding-y--2 ds-u-lg-padding-y--5">
      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-u-color--white ds-l-sm-cold--12 ds-l-xl-col--10 ds-u-margin-left--auto">
              <h1 class="ds">{{ page.title | escape }}</h1>
              <h2 class="ds">{{ page.subtitle | escape }}</h2>
              <p class="ds-text--lead">
                {{ page.description | escape }}</p>
           </div>
            </div>
          </div>
        </div>
      <div class="gradient-container ds-u-padding-y--2 ds-u-lg-padding-y--5 ds-u-display--none ds-u-md-display--block">
        </div>

  </header>

<section class="ds-l-container ds-base">
      {{ content }}

      <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>

</section>
</div>