---
layout: default
permalink: /category/
title: Category
permalink: "/category/"
ctas:
  -
     title: Home
     link: /
  -
     title: Blog
     link: /blog/
  -
     title: Categories
     link: /categories/
---
<div class="ds-base">
    <header class="main-header ds-u-margin-bottom--2 ds-u-lg-margin-bottom--5">
        <div class="solid-container ds-u-padding-y--2 ds-u-lg-padding-y--5">
            <div class="ds-l-container">
                <div class="ds-l-row">
                    <div class="ds-u-color--white ds-l-sm-cold--12 ds-l-xl-col--10 ds-u-margin-left--auto ds-u-padding-x--4">

                        {% if page.badge %}
                        <span class="ds-c-badge ds-u-text-transform--uppercase">{{ page.badge | escape }}</span>
                        {% endif %}


                        <h1 class="ds-display">{{ page.title | escape }}</h1>
                        <p class="ds-text--lead">
                            {{ page.description | escape }}
                        </p>

                        <div class="ctas">
                            {% for item in page.ctas limit:3 %}
                            <a class="ds-c-button button--white" href="{{ item.link }}" aria-label="{{ item.title }}" target="_self">{{ item.title }} &rarr;</a>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="gradient-container ds-u-padding-y--2 ds-u-lg-padding-y--5 ds-u-display--none ds-u-md-display--block">
        </div>

    </header>
    <section class="ds-l-container ds-base">
        {% for post in site.categories[page.category] %}
            <div class="ds-l-row">
                <ul>
                    <li class="ds-c-list ds-c-list--bare">
                        <a href="{{ post.url | absolute_url }}" >{{ post.title }}</a>&nbsp;</li>
                </ul>
            </div>
        {% endfor %}

        <p></p>
        <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>

    </section>
</div>