---
layout: default
permalink: /category/
title: Category
permalink: "/blog/category/"
badge: blog
ctas:
  -
    title: Home
    link: /
  -
    title: Sign up for the Developer Sandbox
    link: https://sandbox.bluebutton.cms.gov/v1/accounts/create
  -
    title: Blog Categories
    link: /blog/categories.html
---
<!-- _layouts/category.html:start -->
{% include banner.html %}

<div class="ds-base">
  <section class="ds-l-container ds-base">
    {% for post in site.categories[page.category] %}
    <div class="ds-l-row">
      <ul>
        <li class="ds-c-list ds-c-list--bare">
          <a href="{{ post.url | absolute_url }}{% if site.use_dot_html %}.html{% endif %}">
            {{ post.title }}
          </a>&nbsp;
        </li>
      </ul>
    </div>
    {% endfor %}

    <p></p>
    <a href="#site-top" class="ds-c-button ds-u-margin-top--4">
      Back to top
    </a>
    <a class="ds-c-button" href="{{ site.url}}/feed.xml" aria-label="RSS Feed" target="_self" >
      Subscribe to RSS Feed
    </a>
    <a class="ds-c-button" href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api" aria-label="Comments via Google Group" target="_self">
      Comments via Google Group
    </a>
  </section>
</div>
<!-- _layouts/category.html:end -->
