---
layout: default
---
<h1>Codeset: {{ page.id | upcase }}</h1>
<p>{{ page.label }}</p>

<h2>Description</h2>
{% for paragraph in page.description %}
<p>{{ paragraph }}</p>  
{% endfor %}

{% if page.value_groups.size > 0 %}
<h2>Values</h2>
This field is a codeset, and will always contain one of the following values.

{% for value_group in page.value_groups %}

{% if value_group['description'] != '' %}
<h3>{{ value_group['description'] }}</h3>
{% endif %}

<table class="ds-c-table">
  <caption>Values for Codeset</caption>
  <thead>
    <tr>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for value_entry in value_group['values'] %}
    <tr>
      <th scope="row"><code>{{ value_entry['value'] }}</code></th>
      <td>{{ value_entry['description'] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}

{% endif %}
