---
layout: default
---

<header class="header-main ds-u-padding-y--2 ds-u-lg-padding-y--5 ds-u-margin-bottom--2 ds-u-lg-margin-bottom--5">
  <section class="ds-l-container ds-base">
    <div class="ds-l-row ds-u-margin-y--2 ds-u-lg-margin-y--5">
      <div class="ds-u-color--base ds-l-col--12 ds-l-md-col--8 ds-u-padding-y--3 transparent-box">
        <h1 class="ds-display">Developer tools</h1>
        <h2>from Centers for Medicare &amp; Medicaid Services</h2>
        <p class="ds-text--lead">
         Build with a collection of APIs, datasets, frameworks, and styleguides for developing applications that help people get the services and benefits they rely on.
        </p>
      </div>
    </div>
  </section>
</header>

<section class="ds-l-container ds-base" id="main" role="main">
  <div class="ds-l-row">

    <div class="ds-l-col--12 ds-l-sm-col--7">

      <section class="project-section" id="apis">
        <h3 class="ds-h3 ds-u-font-weight--bold ds-u-margin-bottom--4 ds-u-sm-display--inline-block cherry-tangerine-underline">APIs</h3>
        {% for post in site.categories.posts-apis %}
        <div class="ds-u-text-decoration--none">
          <div class="project-card ds-u-color--base ds-u-fill--white ds-u-margin-bottom--4">
            <h4 class="ds-h2 ds-u-font-weight--bold">{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <h5 class="sr-only" id="apis-cta-list">Links about {{ post.title }}</h5>
            <ul aria-labelledby="apis-cta-list" class="ds-c-list--bare">
              {% if post.landing-page=="live" %}
              <li>
                <a href="{{ post.url | relative_url }}">About {{ post.title }} &rarr;</a>
              </li>
              {% else %}
                {% for item in post.ctas %}
                <li>
                  <a href="{{ item.link }}" target="_blank">{{ item.title }} &rarr;</a>
                </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </section>

      <section class="project-section" id="front-end-frameworks-and-styleguides">
        <h3 class="ds-h3 ds-u-font-weight--bold ds-u-margin-bottom--4 ds-u-sm-display--inline-block grape-rose-underline">Front-end frameworks &amp; styleguides</h3>
        {% for post in site.categories.posts-frameworks-styleguides %}
        <div class="ds-u-text-decoration--none">
          <div class="project-card ds-u-color--base ds-u-fill--white ds-u-margin-bottom--4">
            <h4 class="ds-h2 ds-u-font-weight--bold">{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <h5 class="sr-only" id="fefwsg-cta-list">Links about {{ post.title }}</h5>
            <ul aria-labelledby="fefwsg-cta-list" class="ds-c-list--bare">
              {% if post.landing-page=="live" %}
              <li>
                <a href="{{ post.url | relative_url }}">About {{ post.title }} &rarr;</a>
              </li>
              {% else %}
                {% for item in post.ctas %}
                <li>
                  <a href="{{ item.link }}" target="_blank">{{ item.title }} &rarr;</a>
                </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </section>

      <section class="project-section" id="datasets">
        <h3 class="ds-h3 ds-u-font-weight--bold ds-u-margin-bottom--4 ds-u-sm-display--inline-block blueberry-lime-underline">Datasets</h3>
        {% for post in site.categories.posts-datasets %}
        <div class="ds-u-text-decoration--none">
          <div class="project-card ds-u-color--base ds-u-fill--white ds-u-margin-bottom--4">
            <h4 class="ds-h2 ds-u-font-weight--bold">{{ post.title }}</h4>
            <p>{{ post.description }}</p>
            <h5 class="sr-only" id="datasets-cta-list">Links about {{ post.title }}</h5>
            <ul aria-labelledby="datasets-cta-list" class="ds-c-list--bare">
              {% if post.landing-page=="live" %}
              <li>
                <a href="{{ post.url | relative_url }}">About {{ post.title }} &rarr;</a>
              </li>
              {% else %}
                {% for item in post.ctas %}
                <li>
                  <a href="{{ item.link }}" target="_blank">{{ item.title }} &rarr;</a>
                </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </section>

    </div>

    <div class="ds-l-col--4 ds-u-margin-left--auto ds-u-display--none ds-u-sm-display--block">
      <nav class="subnav">
        <h5 class="sr-only" id="page-sub-nav">Page navigation links</h5>
        <ul class="ds-c-list ds-c-list--bare" id="mainNav" aria-labelledby="page-sub-nav">
          <li class="active"><a href="#apis" aria-label="APIs section, current page" class="ds-u-display--block cherry-tangerine-link">APIs</a></li>
          <li><a href="#front-end-frameworks-and-styleguides" aria-label="Front-end frameworks section, current page" class="ds-u-display--block grape-rose-link">Front-end frameworks &amp; styleguides</a></li>
          <li><a href="#datasets" aria-label="Datasets section, current page" class="ds-u-display--block blueberry-lime-link">Datasets</a></li>
        </ul>
      </nav>
    </div>
  </div>

</section>
