---
layout: default
---
<article class="page">

  <header class="page-header ds-u-padding-y--7 ds-u-margin-bottom--6">
    <section class="ds-l-container ds-base">
      <div class="ds-l-row">
        <div class="ds-u-color--base-inverse ds-l-col--8 ds-u-md-margin-left--7">
          <h1 class="ds-display page-title">{{ page.title | escape }}</h1>
        </div>
      </div>
  </header>

  <div class="ds-l-container ds-base" id="main" role="main">
    <div class="ds-l-row">
      <div class="ds-l-col--12 ds-l-md-col--6 ds-u-md-margin-left--7">
        {{ content }}
      </div>
    </div>
  </div>

</article>
