---
layout: default
---
<!-- post_with_category: start -->
<div class="ds-base">
  <header class="main-header">
    <div class="solid-container">
      <div class="ds-l-container">
        <div class="ds-l-row">
          <div class="ds-u-color--white ds-l-sm-cold--12 ds-l-xl-col--10 ds-u-margin-left--auto">

              <h3 class="ds-display">{{ page.badge | capitalize | escape  }}</h3>
              {% if page.description %}<p class="ds-text--lead">{{ page.description | escape }}</p>{% endif %}
              <div class="ctas">
                  {% for item in page.ctas limit:4 %}
                  {% if item.link contains '://' %}<a class="ds-c-button button--white" href="{{ item.link }}" aria-label="{{ item.title }}" target="_blank">{{ item.title }}</a>
                  {% else %}<a class="ds-c-button button--white" href="{{ item.link }}" aria-label="{{ item.title }}" target="_self" >{{ item.title }}</a>{% endif %}
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gradient-container ds-u-padding-y--1 ds-u-lg-padding-y--1 ds-u-display--none ds-u-md-display--block">
    </div>
  </header>
</div>

<section class="ds-l-container ds-base">
    <div class="ds-l-row">
        <p></p>
        <aside class="ds-l-col--3 ds-u-margin-left--right ds-u-display--none ds-u-sm-display--block" role="complementary">
            <p></p>
            <nav class="subnav">
              <h5 class="sr-only" id="page-sub-nav">Page navigation links</h5>
              {% if post %}{% assign blogcats = post.categories %}{% else %}{% assign blogcats = page.categories %}{% endif %}
              <ul class="ds-c-list ds-c-list--bare" id="mainNav" aria-labelledby="category-sub-nav">
                  {% for category in site.categories %}
                    {% assign flagcat = "False" %}
                    {% capture category_name %}{{ category | first }}{% endcapture %}
                    {% for blogcat in blogcats %}
                        {% if blogcat == category_name %}
                            {% assign flagcat = "True" %}
                        {% endif %}
                    {% endfor %}
                    <li><a href="/blog/category/{{ category_name }}{% if site.use_dot_html %}.html{% endif %}" name="{{ category_name }}" class="ds-u-display--block blueberry-lime-link" >
                        {% if flagcat == "True" %}
                            <b>&#9673;&nbsp;{{ category_name | capitalize }}&nbsp;</b>
                        {% else %}
                            &#9678;&nbsp;{{ category_name | capitalize }}&nbsp;
                        {% endif %}
                        </a>
                    </li>
                  {% endfor %}
              </ul>
              <p></p>

          </nav>
        </aside>

        <div class="ds-l-col--9 ds-l-sm-col--8 {{ page.badge | slugify }}" id="main" role="main">
            <h4 class="ds-title">{{ page.title | escape }}</h4>
            {{ content }}
            <a href="#site-top" class="ds-c-button ds-u-margin-top--4">Back to top</a>
            <a class="ds-c-button" href="{{ site.url}}/feed.xml" aria-label="RSS Feed" target="_self" >Subscribe to RSS Feed</a>
            <a class="ds-c-button" href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api" aria-label="Comments via Google Group" target="_self" >Comments via Google Group</a>

        </div>

    </div>
</section>
<!-- post_with_category:end -->