---
layout: default
---
{% include banner.html %}

<section class="ds-l-container ds-base">
	<div class="ds-l-row">

		<article class="ds-l-col--12 ds-l-sm-col--10 {{ page.badge | slugify }}" id="main" role="main">
			{{ content }}
			<a href="#site-top" class="ds-c-button ds-u-margin-top--4">
				Back to top
			</a>
			<a class="ds-c-button" href="{{ site.url}}/feed.xml" aria-label="RSS Feed" target="_self">
				Subscribe to RSS Feed
			</a>
			<a class="ds-c-button" href="https://groups.google.com/forum/#!forum/Developer-group-for-cms-blue-button-api" aria-label="Comments via Google Group" target="_self" >
				Comments via Google Group
			</a>
		</article>

	</div>
</section>
