---
layout: layout-for-data-tables
---

<div class="ds-l-container ds-base">

<h1 class="ds-h1">Variable: {{ page.id | upcase }}</h1>
<p>{{ page.field }}</p>

{% if page.source_definition.size > 0 %}
<!-- This field is not always present: -->
<h1 class="ds-h2">Source System Definition</h1>
{% for paragraph in page.source_definition %}
<p>{{ paragraph }}</p>
{% endfor %}
{% endif %}

<h1 class="ds-h2">Other Info</h1>
<p>Some additional information on this variable:</p>
<ul>
	<li><strong>Source System:</strong> {{ page['source_system'] }}</li>
	<li><strong>Source Field:</strong> {{ page['field_label'] }}</li>
	<li><strong>Version:</strong> {{ page['version'] }}</li>
</ul>

</div>
