---
layout: default
---
{% include banner.html %}

<section class="ds-l-container ds-base">
  <div class="ds-l-row">
    <!-- Google Group Section -->
    <article class="ds-l-col--12 ds-l-sm-col--12 ds-l-md-col--12 ds-l-lg-col--12 ds-l-xl-col--12 ds-u-margin-bottom--2 {{ page.badge | slugify }}" id="main" role="main">
			<h2>Join the Community</h2>
			<p>
			Get the latest updates from the Blue Button 2.0 API team and talk with fellow developers in the <a href="https://groups.google.com/g/developer-group-for-cms-blue-button-api" target="_blank">Google Developer Group for CMS Blue Button 2.0 API</a>.
			</p>
		</article>
	</div>
	<div class="ds-l-row">

		<!-- Twitter Section -->
		<article class="ds-l-col--12">
			<h2>Contact Us</h2>
			<p>
				To get help with questions specific to your integration or ask questions about the production API approval process, email <a href="mailto:BlueButtonAPI@cms.hhs.gov">BlueButtonAPI@cms.hhs.gov</a> We respond to emails within 3 business days.
			</p>
		</article>
	</div>
</section>
