---
import type { MarkdownHeading } from 'astro'
import SideNav from '#components/side-nav.astro'
import TableOfContents from '#components/toc.astro'

type Props = {
  showSideNav?: boolean
  showToc?: boolean
  headings?: MarkdownHeading[]
}

const { showSideNav = true, showToc = true, headings = [] } = Astro.props

// Filters out "Footnotes" heading that gets automatically added by remarkRehype plugin
const filteredHeadings = headings.filter((h) => h.slug !== 'footnote-label')
---

<div class="grid-container">
  <div class="grid-row">
    {showSideNav && <SideNav />}
    <main id="main-content" class="grid-col-fill">
      <div class="grid-row">
        {
          showToc ? (
            <div class="grid-col-auto order-last margin-left-auto width-full maxw-card-lg">
              {filteredHeadings && filteredHeadings.length > 0 ? <TableOfContents headings={filteredHeadings} /> : null}
            </div>
          ) : null
        }
        <div id="page-content" class="grid-col-fill">
          <div class="padding-y-6">
            <slot />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
