---
import type { MarkdownHeading } from 'astro'
import SideNav from '#components/side-nav.astro'
import TableOfContents from '#components/toc.astro'

type Props = {
  showSideNav?: boolean
  headings?: MarkdownHeading[]
}

const { showSideNav = true, headings = [] } = Astro.props
---

<div class="grid-container">
  <div class="grid-row">
    {showSideNav && <SideNav />}
    <main id="main-content" class="grid-col-fill">
      <div class="grid-row">
        {
          headings && headings.length > 0 ? (
            <div class="grid-col-auto order-last margin-left-auto">
              <TableOfContents headings={headings} />
            </div>
          ) : null
        }
        <div id="page-content" class="grid-col-fill">
          <div class="padding-y-6">
            <slot />
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
