.ds-c-dialog__heading {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  font-weight: 700 !important;
}

.ds-c-dialog.ds-c-dialog--full::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

.ds-c-dialog.ds-c-dialog--full {
  padding: 1.5rem;
  background: transparent;
  border: 0;
  width: 100%;
  max-width: 100%;
}

.ds-c-dialog--full .ds-c-dialog__window {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  max-width: 55rem !important;
  background: #fff;
  border-radius: .5rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: none;
  font-size: 1rem !important;
  padding: 1rem;
}

.ds-c-dialog__header {
  display: flex;
  // padding: 2rem 2rem 0;
}

#dialog--1__content {
  overflow-x: auto;
}

.ds-c-dialog__actions {
  padding: 0 2rem 2rem;
}

.ds-u-margin-top--0 {
  margin-bottom: 1.5rem;
}

.ds-c-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5rem;
}

.ds-c-table th {
  background-color: #f1f1f1;
  text-align: left;
}

.ds-c-table td,
.ds-c-table th {
  border-bottom: 1px solid #5b616b;
  padding: 1rem;
}

.ds-c-choice+label::before {
  content: '';
  background-color: #fff;
  border: 2px solid #005ea2;
  border-color: #005ea2;
  border-radius: 9999px;
  width: 1.5rem;
  height: 1.5rem;
  display: block
}

.ds-c-choice:checked+label::after {
  content: '';
  position: absolute;
  left: 0.25rem;
  background-color: #005ea2;
  border-color: #005ea2;
  border-radius: 9999px;
  width: 1rem;
  height: 1rem;
  display: block
}

.ds-c-choice {
  position: absolute;
  left: -999em;
  right: auto;
  opacity: 0;
}

.ds-c-table td:nth-child(1) {
  line-height: 1.6;
}

.ds-c-table td:nth-child(2) {
  line-height: 1.6;
  min-width: 200px;
}

.ds-c-table td:nth-child(3) div:nth-child(2) {
  margin-top: 0.25rem;
}

.ds-c-choice-wrapper {
  display: flex !important;
  column-gap: 0 !important;

  & input {
    height: 0;
    width: 0;
  }
}

.ds-c-table td:nth-child(3) div:not(:first-child){
  margin-block-start: 0.5rem
}

.ds-c-choice-wrapper label {
  position: relative;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 0.25rem;
}

.ds-c-choice-wrapper:focus-within {
  outline: 0.25rem solid #00bde3;
  outline-offset: 0;
}

.ds-c-dialog__actions {
  display: flex;
}

.ds-c-close-button {
  margin-left: auto;
  background-color: #005ea2;
  border: 1px solid #005ea2;
  border-radius: 3px;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m12 13.4l-4.9 4.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l4.9-4.9l-4.9-4.9q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.9 4.9l4.9-4.9q.275-.275.7-.275t.7.275t.275.7t-.275.7L13.4 12l4.9 4.9q.275.275.275.7t-.275.7t-.7.275t-.7-.275z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  flex-shrink: 0;

  &:focus {
    outline: 0.25rem solid #00bde3 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
  }
}

.ds-c-icon--close {
  display: none;
}

.ds-c-button {
  font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
  font-weight: 700 !important;
  background-color: #005ea2;
  border: 1px solid #005ea2;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0.5rem 1.5rem;
  text-align: center;
  text-decoration: none;
  margin-left: auto;

  &:focus {
    outline: 0.25rem solid #00bde3 !important;
    outline-offset: 0.25rem !important;
    box-shadow: none !important;
  }
}