/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use "uswds-core" with (
  $theme-show-notifications: false,
  $theme-banner-max-width: "desktop-lg",
  $theme-color-primary-darker: "blue-90",
  $theme-color-secondary: "indigo-warm-60v",
  $theme-color-secondary-dark: "indigo-warm-70v",
  $theme-focus-color: "cyan-30v",
  $theme-card-gap: 4,
  $theme-font-role-heading: 'sans',
  $theme-font-type-sans: 'open-sans',
  $theme-footer-max-width: "desktop-lg",
  $theme-grid-container-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-identifier-max-width: "desktop-lg",
  $theme-in-page-nav-top: 10,
  $theme-in-page-nav-main-content-max-width: "desktop-lg",
  $theme-lead-line-height: 3,
  $theme-site-alert-max-width: "desktop-lg",
  $theme-text-measure: 5,
  $top-palettes: (
    'palette-top-default',
    'palette-units-system-positive-medium',
  ),
  $background-color-settings: (
    active: true
  ), 
  $theme-process-list-connector-width: 4,
  $theme-utility-breakpoints: (
    desktop-lg: true
  )
);
