/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

// USWDS doesn't apply styles to some elements unless they're direct children
// of .usa-prose (this sets defaults that utility classes can override).
main {

  p {
    @include typeset-p-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include typeset-heading-base;
  }

  $elements: h1, h2, h3, h4, h5, h6, p, ul, ol;

  @each $element in $elements {
    #{$element} {
      &+ {
        @each $element in $elements {
          #{$element} {
            margin-top: $theme-paragraph-margin-top;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  *+ {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: $theme-heading-margin-top;
    }
  }

  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  a {
    @include typeset-link;
  }

  ul,
  ol {
    @include usa-list;

    li {
      @include usa-list-item;
    }
  }

}

// Landing page hero background
.bg-primary-gradient {
  background: linear-gradient(30deg, color('cyan-40v'), color('primary'), color('indigo-warm-60v'));
  
  @include at-media($theme-site-margins-breakpoint) {
    background: linear-gradient(90deg, color('cyan-40v'), color('primary'), color('indigo-warm-60v'));
  }
}

// Landing page hero text
@include at-media("desktop-lg") {
  .hero-title {
    font-size: clamp(3rem, 3.625vw, 4.25rem);
  }

  .hero-paragraph {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
  }

  .hero-button {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    padding: clamp(.75rem, 1vw, 1.25rem) clamp(1.25rem, 1.5vw, 1.75rem);
  }
}


// Card images default to having a background color
.usa-card__img {
  background-color: transparent;
}

// In-page Nav shows on tablet and larger by default, but we want it to show
// on desktop and larger
.usa-in-page-nav {
  @include at-media("tablet") {
    display: none;
  }

  @include at-media("desktop-lg") {
    display: block;
  }
}

// The following classes are added due to this issue: https: //github.com/uswds/uswds/issues/6486
.usa-table--borderless thead th,
.usa-table--borderless thead td {
  border-bottom: 0px
}

.usa-table--borderless tbody tr:first-of-type th,
.usa-table--borderless tbody tr:first-of-type td {
  border-top: 2px solid #1b1b1b;
}

.usa-prose > * + .usa-button {
  margin-top: 0;
}

.usa-prose img {
  height: auto;
}

.usa-prose > *:last-child {
  margin-bottom: 0;
}

.usa-button {
  line-height: 1.3;
}

.h1 {
  margin-top: 32px;
}

.usa-prose > * + * {
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .usa-header--basic .usa-nav {
    padding: 0 0 .25rem .5rem;
  }
}

.usa-identifier__required-links-item {
  line-height: 1.6;
}